h1{
    text-align: center;
    font-weight: bold;
    margin: 10px 0 20px;
    font-size: 3rem;
}

#estado{
    margin-bottom: 20px;
}

#boton-empezar{
    text-align: right;
    margin: 10px 0;
}

.cuadro{
    height: 140px;
    opacity: 0.5;
}

#cuadro-1{
    background-color:#7cfc00;
    margin: 0px 0px 20px 0px;
    border-top-left-radius: 150px;
}

#cuadro-2{
    background-color: #dc143c;
    margin: 0px 0px 20px 0px;
    border-top-right-radius: 150px;
}

#cuadro-3{
    background-color: #ffd700;
    margin: 20px 0px 0px 0px;
    border-bottom-left-radius: 150px;
}

#cuadro-4{
    background-color: #0000cd;
    margin: 20px 0px 0px 0px;
    border-bottom-right-radius: 150px;    
}

#record, #maxima{
    margin: 10px 20px 0 20px;
    text-align: center;
}

.marcador {
    font-size: 24px;
    font-weight: bolder;
}